
NormalMapping/xcode/DerivedData/NormalMapping/Index/Debug/macosx10.9-i386/NormalMapping.xcindex/db.xcindexdb-shm

NormalMapping/xcode/DerivedData/NormalMapping/Index/Debug/macosx10.9-i386/NormalMapping.xcindex/db.xcindexdb-wal

NormalMapping/xcode/NormalMapping.xcodeproj/project.xcworkspace/xcuserdata/wolfgag.xcuserdatad/UserInterfaceState.xcuserstate
