<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/wolfgag/cinder_0.8.5_mac/samples/NormalMapping/xcode/NormalMapping.xcodeproj</string>
</dict>
</plist>
